<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Treks</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">Trekking Management App</span>
            </div>
            <div style="margin-left:25px;">
                <a href="/adminDashboard/">>back</a>
            </div>
        </nav>
    </div>
    <div class="main" style="padding:65px;">
        <div class="canva" style=" padding:25px; border: 1px solid rgb(47, 159, 173); box-shadow: 0px 4px 8px rgb(25, 71, 163);">
            <h4 style="text-align: center; color:rgba(110, 22, 192, 0.877)"><strong><i>Create Trek</i></strong></h4>
            <div>
                <form action="/createTrek/byadmin/" method="POST">
                    <div class="mb-3">
                    <label for="Trekname" class="form-label">Trek name</label>
                    <input type="text" class="form-control" id="Trekname" placeholder="name of the place" name="trek_name" required>
                    </div>
                    <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" placeholder="name of the place" name="location" required>
                    </div>
                    <div class="mb-3">
                    <label for="location" class="form-label">Difficulty</label>
                    <select class="form-select" aria-label="Default select example" name="difficulty" required>
                        <option selected>Open this select menu</option>
                        <option value="Easy">Easy</option>
                        <option value="Moderate">Modrate</option>
                        <option value="Hard">Difficult</option> 
                    </select>
                    </div>
                    <div class="mb-3">
                    <label for="location" class="form-label">Duration(in Days)</label>
                    <input type="text" class="form-control" id="location"  name="duration" required>
                    </div>
                    <div class="mb-3">
                    <label for="location" class="form-label">Route</label>
                    <input  class="form-control" id="location" placeholder="x to y " name="rute" required>
                    </div>
                    <div class="mb-3">
                    <label for="location" class="form-label">Available Slots</label>
                    <input  class="form-control" id="location"  name="slot" required>
                    </div>
                    <div class="mb-3">
                    <label for="location" class="form-label">start date</label>
                    <input type="date" class="form-control" id="location"  name="start" required>
                    </div>
                    <div class="mb-3">
                    <label for="location" class="form-label">end date</label>
                    <input type="date" class="form-control" id="location"  name="end_date" min="{{today}}" required>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Assigned staff</label>
                        
                            
                            {% for row in data %}
                                <input type="checkbox" name="staff" value="{{row.staff_id}}" >{{row.staff_name}}
                                
                                
                            {% endfor %}
                            
                        
                    </div>
                    <div class="mb-3">
                    <label for="location" class="form-label">status</label>
                    <select class="form-select" aria-label="Default select example" name="status" required>
                        <option >--select status--</option>
                        
                        <option value="Open">open</option>
                        <option value="Closed">closed</option>

                        
                    </select>
                    </div>
                    <div class="mb-3">
                    <label for="location" class="form-label">mark as start/complete/not start</label>
                    <select class="form-select" aria-label="Default select example" name="mark" required>
                        <option >--choose one--</option>
                        
                        <option value="start">start</option>
                        <option value="not_start">not_start</option>
                        <option value="complete">completed</option>
    
                    </select>
                    </div>
                    
                    <div class="col-10" style="display: flex; justify-content: center; margin-top: 50px;">
                            <button type="submit" class="btn btn-outline-success">create</button>
                    </div>
                    

                </form>
            </div>

       

        </div>

    </div>
</body>
</html>