<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit trek</title>
</head>
<body>
    <div><p>assign staff once again</p>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">Trekking Management App</span>
            </div>
            <div style="margin-left:25px;">
                <a href="/adminDashboard/">>back</a>
            </div>
        </nav>
    </div>
    <div class="main" style="padding:65px;">
        <div class="canva" style=" padding:25px; border: 1px solid rgb(47, 159, 173); box-shadow: 0px 4px 8px rgb(25, 71, 163);">
            <h4 style="text-align: center; color:rgba(110, 22, 192, 0.877)"><strong><i>Create Trek</i></strong></h4>
            <div>
                <form action="/admin/trek/edit/{{trek.trek_id}}/" method="POST">
                    <div class="mb-3">
                    <label for="Trekname" class="form-label">Trek name</label>
                    <input type="text" class="form-control" value="trek.Trek_name" id="Trekname" placeholder="name of the place" name="trek_name">
                    </div>
                    <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" value="{{trek.location}}" id="location" placeholder="name of the place" name="location">
                    </div>
                    <div class="mb-3">
                    <label for="location" class="form-label">Difficulty</label>
                    <select class="form-select" aria-label="Default select example" name="difficulty">
                        <option selected>Open this select menu</option>
                        <option value="1">Easy</option>
                        <option value="2">Modrate</option>
                        <option value="3">Difficult</option>
                    </select>
                    </div>
                    <div class="mb-3">
                    <label for="location" class="form-label">Duration(in Days)</label>
                    <input type="text" class="form-control" id="location" value="{{trek.Duration}}"  name="duration">
                    </div>
                    <div class="mb-3">
                    <label for="location" class="form-label">Route</label>
                    <input  class="form-control" id="location" placeholder="x to y " value="{{trek.route}}" name="rute">
                    </div>
                    <div class="mb-3">
                    <label for="location" class="form-label">Available Slots</label>
                    <input  class="form-control" id="location" value="{{trek.total_slot}}"  name="slot">
                    </div>
                    <div class="mb-3">
                    <label for="location" class="form-label">start date</label>
                    <input type="date" class="form-control" id="location" value="{{trek.s_date}}" name="start">
                    </div>
                    <div class="mb-3">
                    <label for="location" class="form-label">end date</label>
                    <input type="date" class="form-control" id="location" value="{{trek.e_date}}" name="end_date" min="{{today}}">
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Assigned staff</label>
                        
                            
                            {% for row in data %}
                            <label><input type="checkbox" name="staff" value="{{row.staff_id}}"> {{row.staff_id}},{{row.staff_name}}</label>
                            {% endfor %}
                        
                    </div>
                    <div class="mb-3">
                    <label for="location" class="form-label">status</label>
                    <select class="form-select" aria-label="Default select example" name="status" value="{{trek.status}}">
                        <option selected>--select status--</option>
                        
                        <option value="1">open</option>
                        <option value="2">closed</option>

                        
                    </select>
                    </div>
                    <div class="mb-3">
                    <label for="location" class="form-label">mark as start/complete/not start</label>
                    <select class="form-select" aria-label="Default select example" name="mark" value="{{trek.status2}}">
                        <option selected>--choose one--</option>
                        
                        <option value="1">start</option>
                        <option value="2">not_start</option>
                        <option value="3">completed</option>
    
                    </select>
                    </div>
                    
                    <div class="col-10" style="display: flex; justify-content: center; margin-top: 50px;">
                            <button type="submit" class="btn btn-outline-success">create</button>
                    </div>
                    

                </form>
            </div>

       

        </div>

    </div>
</body>
</html>