<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trekking history</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid" style="background-color: antiquewhite;  height: 45px;">
        <nav class="navbar ">
                <div class="container-fluid">
                    <em><h3>Trekking Management App</h3></em>
                    
                </div>
        </nav>
    </div>
    <div>
        <h4>Your Trekking History</h4>
        <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">trek Name</th>
      <th scope="col">difficulty</th>
      <th scope="col">trek Status</th>
      <th scope="col">booking Status</th>
      <th scope="col">action</th>

    </tr>
  </thead>
  <tbody>
    {% for row in booking %}
     {% if row.status=='Cancelled' %}
        <tr>
        <th scope="row">1</th>
        <td>{{row.trek.Trek_name}}</td>
        <td>{{row.trek.Difficulty}}</td>
        <td>{{row.trek.status}},{{row.trek.status2}}</td>
        <td>{{row.status}}</td>
        <td><a href="/booking/details/{{row.trek.trek_id}}/" > book now </a>></td>

        </tr>
     {% endif %}  
    {% endfor %}
    
  </tbody>
</table>
    </div>
    <div>
        <h4>booked treks</h4>
        <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">trek Name</th>
            <th scope="col">difficulty</th>
            <th scope="col">trek Status</th>
            <th scope="col">booking Status</th>
            <th scope="col">action</th>

            </tr>
        </thead>
        <tbody>
         {% for row in booking %}
           {% if row.status=='Booked' %}
            <tr>
                <th scope="row">1</th>
                <td>{{row.trek.Trek_name}}</td>
                <td>{{row.trek.Difficulty}}</td>
                <td>{{row.trek.status}},{{row.trek.status2}}</td>
                <td>{{row.status}}</td>
                {% if current_user.role =='Trekker' %}

                <td><form action='/user/booking/cancle/{{row.Book_id}}/' method='POST'><input type='hidden' value='cancle' name='cancle'>
                    <button type="submit">Cancle</button>
                </form></td>
                {% endif %}

            </tr>
           {% endif %}
         {% endfor %}

        </tbody>
    </div>
</body>
</html>